.catalog-goods__list {
  list-style: none;
}

.catalog-goods__item {
  position: relative;
}

.catalog-goods__item-img {
  display: block;
}

.catalog-goods__item-title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog-goods__last-item-content {
  font-size: 12px;
  line-height: 16px;
}

.catalog-goods__button-show-all {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 5px;
}

.catalog-goods__present {
  display: block;
  background-color: #68b738;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-goods__present-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
