.contacts {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px 20px;

  @media (min-width: @tablet-width) {
    padding: 44px 72px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1300px;
    height: 400px;
    padding-left: 35px;
    padding-right: 24px;
    margin-right: 500px;
    margin-left: 70px;
    margin-bottom: 220px;
    max-width: 1300px;
    z-index: 1;
  }
}

.contacts__invite {
  margin: 0;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 200px;
  }
}

.contacts__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    width: 220px;
    text-align: right;
    margin-top: 18px;
    padding-right: 42px;
    padding-left: 0;
  }
}

.contacts__span-block {
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map-iframe {
  display: block;
  width: 100%;
}

.contacts__map {
  height: 362px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 44.6%, center 100%;
  background-size: 55px 53px, cover;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 400px;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center 55%;
    background-size: 113px 108px, cover;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 113px 108px, cover;
    background-position: 75.6% 50.5%, center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
