.contacts-wrapper {
  background-color: #ffffff;
}

.contacts__invite {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-style: normal;
  font-size: inherit;
  line-height: 20px;
}
