.live-example {
  background-color: #f2f2f2;
}

.live-example__table {
  text-align: center;
}

.live-example__table-field {
  .font(24px);
  text-transform: uppercase;
}

.live-example__table-value {
  .font(12px);
}

.live-example__price-of-food {
  font-size: inherit;
  line-height: 20px;
  text-align: center;
}

.live-example__interactive-label-before,
.live-example__interactive-label-after {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
