.page-header {
  text-transform: uppercase;
}

.page-header__logo {
  margin: auto;
}

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  border-top: 1px solid #e6e6e6;
  padding: 20px;
}
