.select-program__preview {
  position: relative;
  color: #ffffff;
  text-align: center;
}

.select-program__preview::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 60%;
  z-index: -1;
  background-color: #68b738;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.select-program__preview-title {
  font-size: 36px;
  line-height: 36px;
}

.select-program__preview-slogan {
  font-size: 14px;
  line-height: 14px;
}

.select-program__preview-button {
  background-color: #68b738;
  color: #ffffff;
  padding: 5px;
}

.select-program__list {
  list-style: none;
}

.select-program__list-item {
  background-color: #f2f2f2;
}
